[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
rope = "*"
pyinstaller = "*"

[packages]
pdfrw = "*"
reportlab = "*"
Pillow = "*"
requests = "*"
google-api-python-client = "*"
oauth2client = "*"
click = "*"

[requires]
python_version = "3"
